@import url('https://fonts.cdnfonts.com/css/tt-hoves-pro-trial');
@import url('https://fonts.googleapis.com/css2?family=Vampiro+One&display=swap');

/* Section size */

$firstthreesectionheight: 840px;


/*background image for all sections */
$background-image: url(../assets/background_bicycle.png);

/*colors */

$maincolor: #E15252;
$colorforparagraph: #333333;
$buttons-text-color: #ffffff;
$color-for-paragpaph-dig: #4F4F4F;

/* buttons round */

$border-radius: 42px;

/* Fonts*/

$mainfont: 'TT Hoves Pro Trial', sans-serif;
$secondaryfont: 'Vampiro One', cursive;
$font-weight-large: 700;